model_config_list {
    config {
        name: "vgg16",
        base_path: "/models/vgg16",
        model_platform: "tensorflow",
        model_version_policy {
            specific {
                versions: 1
                versions: 2
            }
        }
    }
    config {
        name: "inceptionv3",
        base_path: "/models/inceptionv3",
        model_platform: "tensorflow",
        model_version_policy {
            specific {
                versions: 1
            }
        }
    }
}
